.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; 
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */

}

.word {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */

  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-left: 13%;
  color: rgb(234, 206, 245);
}

.sidenav-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  height: 100%; 
  width: 20%; 
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 1;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.word-profile {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */

  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-left: 13%;
  color: rgb(234, 206, 245);
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(234, 206, 245);
  display: block;
}

.greeting {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(234, 206, 245);
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav-profile a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(234, 206, 245);
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav-profile a:hover {
  color: #f1f1f1;
}



/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* earlier {it}apossoun, opassom{/it}, borrowed from a Virginia Algonquian word of uncertain form, going back to Algonquian {it}*wa·p-{/it} "white" + {it}*-aʔθemw-{/it} "dog, small animal */