

.WordForm-component {
  background-image: url("https://i.pinimg.com/originals/ba/a2/84/baa284faff2374fe7e6901a2811fe121.jpg");
  background-size: contain; 
  background-position: center;
  position: absolute;
  width: 100%; 
  height: 100%;
}


.form {
  font-weight: bold;
  font-size: 23px;
  justify-content: center;
  color: rgb(234, 206, 245);
  font-family: 'Space Mono', monospace;
}

.input-form {
  width: 76%;
  color: black;
  padding: 10px 20px;
  border: thick;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* color: rgb(234, 206, 245); */
  font-family: 'Space Mono', monospace;
}
.input-field {
  background: linear-gradient(to right, rgb(60, 48, 63), rgb(158, 36, 177));
  width: 400px;
  height: 350px;
  margin: 7em auto;
  padding-top: 7px;
  margin-top: 3%;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  opacity: 0.78;
  font-family: 'Space Mono', monospace;
}


/* 
.nice-text {
  text-align: center;
  vertical-align: middle;
  padding: 6px 12px;
  font-size: 2.0rem;
  color: white;
} */

.btn-success {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 1.4rem;
  border-radius: 10px;
  border: 1px solid ;
  user-select: none;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(234, 206, 245);
  font-family: 'Space Mono', monospace;
}

.submit:hover {
  background: linear-gradient(to right, rgb(173, 43, 196), rgb(232, 104, 255));
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
	-webkit-animation: fadeIn .5s ease-in 1 forwards;
  animation: fadeIn .5s ease-in 1 forwards;
  opacity: 0;
}

.is-paused {
	-webkit-animation-play-state: paused;
  animation-play-state: paused;
}



